mixin navBar(data)
    nav.main--nav
        ul.nav.d-flex.justify-content-around
            each item, itemIndex in data
                if(data[itemIndex].active)
                    li: span.active!= data[itemIndex].title
                else
                    li: a(href=data[itemIndex].url): span!= data[itemIndex].title

mixin footerList(data)
    ul.footer-list--items
        each item, itemIndex in data
            li: a(href=data[itemIndex].url)!= data[itemIndex].title

mixin iconSvg(name, path, url, width, height)
    - mod = mod || ''
    a(href=url target="_blank")
        svg(width=width height=height xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href=path + ".svg#" + name)

mixin socialIconList(data)
    each item in data
        +iconSvg(item.name, "../../img/sprite", item.url, item.width, item.height)